---
import '../styles/custom.css'

---
<style>
    html, body {
        color: var(--sl-color-black);
        background-color: var(--sl-color-white);
        font-family: var(--sl-font);
    }

    header {
        padding: 2rem;
        padding-top: 6rem;

    }

    .wrapper {
        margin: 0 auto;
        max-width: 800px;
    }
</style>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Wobble Web</title>
    
  </head>
  <body>
    <div class="wrapper">
        <header>
            <h1>Wobble Web</h1>
            <p>hybrid graphics editor and coding environment</p>
            <p>[WIP]</p>
            <a href="/docs/">docs</a>
        </header> 
    </div>      
  </body>
</html>