@font-face {
    font-family: 'Cylonic-Empty';
    /* Use a relative path to the local font file in `url()`. */
    src: url('./Cylonic-Empty.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }